@font-face {
  font-family: 'plex';
  font-weight: normal;
  src: url('fonts/IBMPlexSansCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'plex';
  font-weight: bold;
  src: url('fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
}

body {
  font-family: 'plex', sans-serif;
  line-height: 1.3em;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) { background: #ddd }
tr:nth-child(odd) { background: #fff }

.field_name {
  font-weight: bold;
}

.record_info {
  float: left;
}

.api_data {
  float: left;
}

.jacket {
  float: left;
  padding: 3px;
}

.jacket img {
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .4);
  border-radius: 3px;
  padding: 3px;
  margin-left: 12px;
  height: 300px;
}
