@font-face {
  font-family: 'plex';
  font-weight: normal;
  src: url('fonts/IBMPlexSansCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'plex';
  font-weight: bold;
  src: url('fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
}

body {
  font-family: 'plex', sans-serif;
  font-size: 1em;
  line-height: 1.3em;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}


a, a:visited, a:active {
  color: #000;
}

a:hover {
  color: #000;
  font-weight: bold;
}

tr:nth-child(even) { background: #eee }
tr:nth-child(odd) { background: #fff }

.field_name {
  font-weight: bold;
}

.record {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 12px;
}

.bib_wrapper {
  display: flex;
}

.item_wrapper {
  display: flex;
}

.record_info {
}

.jacket {
  padding: 3px;
}

.api_data {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
}

.api_data td {
  font-size: 1.0em;
}

.jacket img {
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .4);
  border-radius: 3px;
  padding: 3px;
  margin-left: 12px;
  height: 300px;
}

#barcode {
  margin-left: 4px;
  vertical-align: middle;
}

.actions {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 12px;
}

.action-item {
  display: inline;
}
