<!doctype html>
<head>
  <title>Bibliographic Record</title>
  <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
  {% if record %}
  <div class="record">
    <div class="bib_wrapper">        
      <div class="record_info">        
        <h2><i class="fas fa-th-list"></i> Bibliographic Record {{ record.record_id }}</h2>
        <table>
          <tr><td class="field_name">Title</td><td>{{ record.title }}</td></tr>
          <tr><td class="field_name">Author</td><td>{{ record.author }}</td></tr>
          <tr><td class="field_name">Material Type</td><td>{{ record.material_type }}</td></tr>
          <tr><td class="field_name">Published</td><td>{{ record.publish_year }}</td></tr>
          <tr><td class="field_name">Available</td><td>{{ record.available }}</td></tr>
          <tr><td class="field_name">ISBNs</td><td>{% for x in record.isbns %}{{ x }}<br />{% endfor %}</td></tr>
          <tr><td class="field_name">Catalog Date</td><td>{{ record.catalog_date }}</td></tr>
        </table>
      </div>
      <div class="jacket">
        <img src="{{ record.jacket_url }}"/>
      </div>
    </div>
  </div>
  {% if debug %}
  <div class="api_data">
    <h2><i class="fas fa-bug"></i> API Data</h2>
    <table>
      {% for x in record.api_data %}
      <tr><td>{{ x }}</td><td>{{ record.api_data[x] }}</td></tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% else %}
  <h2>no data</h2>
  {% endif %}
</body>
