<!doctype html>
<head>
  <title>Charts</title>
  {% include 'header_common.html' %}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/static/billboard.min.js"></script>
  <link rel="stylesheet" href="/static/billboard.min.css">
</head>
<body>
  {% include 'page_header.html' %}
  {% for chart in charts %}
  <div class="record">
    <div class="record_info">
      <h2>{{ chart.title }}</h2>
      <div id="chart_{{ loop.index }}"></div>
      <script>
       var chart = bb.generate({
         size: {
           height: 240,
         },
         data: {
           x: "x",
           xFormat: '%Y-%m-%dT%H:%M',
           columns: {{ chart.data | safe }},
           types: {
             transactions: "area-step",
             foo: "area-step"
           }
         },
         axis: {
           x: {
             type: "timeseries",
             tick: {
               format: "%a %m/%d %H:%M"
             }
           }
         },
         bindto: "#chart_{{ loop.index }}"
       });
      </script>
    </div>
  </div>
  {% endfor %}
  {% if debug %}
  <div class="record">
    <h2><i class="fas fa-bug"></i> Debug Info</h2>
    {{ charts }}
  </div>
  {% endif %}
  {% include 'page_footer.html' %}
</body>
