<!doctype html>
<head>
  <title>High Demand Holds Report</title>
  {% include 'header_common.html' %}
</head>
<body>
  {% include 'page_header.html' %}
  <div class="record">
    <h2><i class="fas fa-chart-pie"></i> Report: High-demand Holds</h2>
    {% if report %}
    <p>
      <i class="far fa-file-excel"></i> <a href="{{ request.path }}?{% for a in request.args %}{{ a }}={{ request.args.get(a) }}&{% endfor %}output=xls">Download as Excel</a> &nbsp;
        <i class="far fa-file-excel"></i> <a href="{{ request.path }}?{% for a in request.args %}{{ a }}={{ request.args.get(a) }}&{% endfor %}output=csv">Download as CSV</a>
    </p>
    <table>
      <tr>{% for cell in report.header %}<th>{{ cell.label }}</th>{% endfor %}</tr>
      {% for row in report.data %}
      <tr>{% for cell in row %}<td>{% if loop.index == 1 %}<a href="/bib/{{ cell }}">{{ cell }}</a>{% else %}{{ cell }}{% endif %}</td>{% endfor %}</tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <h2>no data</h2>
  {% endif %}
  {% include 'page_footer.html' %}
</body>
