<!doctype html>
<head>
  <title>Sierra DNA/API Tool</title>
  {% include 'header_common.html' %}
</head>
<body>
  {% include 'page_header.html' %}
  <h1>Sierra DNA/API Tool &nbsp;<i class="fas fa-user-secret"></i></h1>
  <div class="record">
    <div class="lookup">
      <h2>Record Lookup</h2>
      <ul>
        <li><span>Patron Record<form action="/find" method="get" record_type="bib">
          <input type="hidden" name="record_type" value="patron">
          <input id="record_id" type="text" name="record_id" size="16"></form></span></li>
        <li><span>Patron Barcode<form action="/find" method="get" record_type="bib">
          <input type="hidden" name="record_type" value="patron/barcode">
          <input id="record_id" type="text" name="record_id" size="16"></form></span></li>
        <li><span>Bib Record <form action="/find" method="get" record_type="bib">
          <input type="hidden" name="record_type" value="bib">
          <input id="record_id" type="text" name="record_id" size="16"></form></span></li>
        <li><span>Item Record <form action="/find" method="get" record_type="bib">
          <input type="hidden" name="record_type" value="item">
          <input id="record_id" type="text" name="record_id" size="16"></form></span></li>
        <li><span>Hold Record <form action="/find" method="get" record_type="bib">
          <input type="hidden" name="record_type" value="hold">
          <input id="record_id" type="text" name="record_id" size="16"></form></span></li>
      </ul>
    </div>
    <h2>Reports</h2>
    <ul>
      <li><a href="/report/hdh">High Demand Holds</a></li>
    </ul>
    <h2>Maps</h2>
    <ul>
      <li><a href="/branch">Branch Locations</a></li>
    </ul>
  </div>
  {% include 'page_footer.html' %}
</body>
