<!doctype html>
<head>
  <title>Patron Record</title>
  {% include 'header_common.html' %}
</head>
<body>
  {% include 'page_header.html' %}
  {% if record %}
  <div class="record">
    <div class="record_info">
      <h2><i class="fas fa-user-circle"></i> Patron Record {{ record.record_id }}</h2>
      <table>
        <tr><td class="field_name">Patron Type</td><td>{{ record.patron_type }} ({{ record.patron_type_name }})</td></tr>
        <tr><td class="field_name">Birthdate</td><td>{{ record.birthdate }}</td></tr>
      </table>
    </div>
    <h3><i class="fas fa-hand-paper"></i> Holds</h3>
    <table>
      {% for hold in holds %}
      <tr><td><a href="/hold/{{hold}}">{{ hold }}</a></td></tr>
      {% endfor %}
    </table>
    <h3><i class="fas fa-address-card"></i> Barcodes</h3>
    <table>
      {% for b in record.barcodes %}
      <tr><td>{{ b }}
        <svg id="barcode"</svg>
        <script>
         JsBarcode("#barcode", "{{ b }}", {
             format: "codabar",
             width: 1,
             height: 30,
             margin: 0,
             displayValue: false
         });
        </script>
      </td></tr>
      {% endfor %}
    </table>
  </div>
  {% if debug %}
  {% include 'api_data.html' %}
  {% endif %}
  {% else %}
  <h2>no data</h2>
  {% endif %}
  {% include 'page_footer.html' %}
</body>
